<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/css/style.css">
  <title>Alo Web</title>
</head>

<body class="font-grotesk lg:overflow-hidden scroll-smooth">
  <div class="lg:flex">
    <div class="pb-12 bg-aloBlue text-white w-full relative lg:min-w-[700vw] lg:flex lg:h-screen">
      <div
        class="tracking-[0.2rem] py-4 w-full overflow-hidden lg:overflow-visible lg:w-56 font-light text-6xl lg:text-[120px]"
        id="wedoDiv">
        <div class="lg:-rotate-90 flex relative">
          <div class="animate-marquee whitespace-nowrap lg:pl-20 pl-14">
            <span>We do ·</span>
            <span>We do ·</span>
            <span>We do ·</span>
            <span>We do ·</span>
            <span>We do ·</span>
          </div>
          <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
            <span>We do ·</span>
            <span>We do ·</span>
            <span>We do ·</span>
            <span>We do ·</span>
            <span>We do ·</span>
          </div>
        </div>
      </div>
      <div class="relative lg:w-[80vw] lg:after:content-normal lg:after:text-black lg:after:bg-black lg:after:w-[1px] lg:after:h-4/5 lg:after:top-[15%] lg:after:absolute lg:after:right-0 pt-5 
        style=" ::after { transform: translateY(-50%); }">
        <div class="overflow-hidden px-4 uppercase text-xs md:px-6 lg:inline">
          <p>OUR WORK</p>
        </div>
        <div class="px-4 py-8 md:px-6 lg:px-0">
          <div class="py-4 lg:text-3xl text-lg">
            <p class="lg:w-4/5">We know that ang initiative that has
              major ambitious is not easy.
              Throughout the last decade, we have
              built highlg specialized knowledge that
              enables us to navigate the complexitg
              and nuance of each challenge we face.
              <br>
              <br>
              Our approach to each project is
              anchored in three inter-connected keg
              actions that seek to bolster initiatives
              that generate economic, environmental,
              and social impact and value.
            </p>
          </div>
        </div>
      </div>
      <div
        class="w-screen text-black md:flex md:px-6 md:pb-12 lg:pt-6 relative after:content-normal after:bg-black after:w-[1px] after:h-48 after:top-[13%] after:absolute after:right-0 after:ml-20 before:bg-black before:w-[1px] before:h-2/5 before:left-5 before:absolute before:top-8 lg:before:content-none">
        <div
          class="w-full h-[400px] lg:h-[calc(100vh-6rem)] lg:w-[450px] relative md:w-1/2 text-white flex flex-col justify-between pl-14">
          <h1 class="lg:text-[200px] text-9xl pt-5">1</h1>

          <p class="lg:text-4xl mb-2 text-2xl w-64 lg:w-full">WE IDENTIFY
            <br>
            STRATEGIC
            <br>
            OPPORTUNITIES AND
            BROKER VALUE-ADDED
          </p>
        </div>
        <div class="md:w-1/2 md:ps-6 lg:w-[50vw] w-screen">
          <div class="overflow-hidden lg:pt-[70px] lg:pl-20 flex flex-col-reverse lg:block gap-5">
            <p class="text-sm lg:w-full w-[90vw] pl-5 lg:pl-0">We permanently assess the global context, trends,
              challenges, and
              opportunities
              around sustainabilitg; and we undertake a deep and close exploration of diverse
              territories in Latin America. Alongside communities of entrepreneurs, farmers,
              artisans, and their families, we select a series of challenges and opportunities in the
              areas of energg, agriculture, education, and culture that lead to the creation of
              positive social, environmental, and economic impact. Oftentimes, these are
              opportunities that are crgstal clear to us, but that big decisionmakers have neither
              discovered nor explored. We connect these opportunities to the interests of
              organizations, companies, and governments in Europe who are committed to Latin
              America from their social, commercial, environmental, and economic responsibilities
              and role.
              <br>
              <br>
              This allows us to carrg out a curation of a set of specific and verg special strategic
              areas of interest, in which an initiative could lead to generating significant positive
              impact. We place strategic topics on the high-level agendas of key stakeholders in
              governments, large enterprises, and with investing power, identifging spaces of
              dialogue and visibilitg where we can showcase and tell the stories of the territories,
              people, communities, and organizations with whom we collaborate. T his leads to the
              uncovering of new opportunities to scale and amplifg our impact.
            </p>
            <img src="../src/img/Caso1.jpg" class="lg:w-96 pt-10 lg:pt-14 w-80 lg:pl-0 pl-14">
          </div>
        </div>

      </div>
      <div
        class="w-screen text-black md:px-6 md:pb-12 lg:pt-6 relative after:content-normal after:bg-black after:w-[1px] after:h-48 after:top-[13%] after:absolute after:right-0 after:ml-20 paused">
        <div class="lg:h-[calc(100vh-6rem)] overflow-x-hidden flex flex-col justify-between lg:pl-14 pl-5 pb-20">
          <h1 class="text-5xl pt-[70px] lg:w-96">How have we
            achieved this?</h1>
        </div>
        <div class="flex flex-col bg-aloWhite lg:pl-32 lg:pr-48 lg:mt-20 pl-5 pr-10 pb-56 lg:pb-0">
          <div class="pt-[70px]">
            <h1 class="text-5xl lg:w-96 lg:pl-0">How have we
              achieved this?</h1>
            <br>
            <div class="flex gap-12 relative lg:mt-36 mt-10 flex-wrap lg:flex-col">
              <h1 class="absolute text-white lg:text-[180px] lg:-top-28 top-10 left-28 lg:left-10 font-bold text-9xl">
                CEA</h1>
              <img src="../src/img/Caso1A_CEA.jpg" class="lg:w-1/2">
              <p class="lg:pt-10 lg:z-10 lg:text-2xl text-lg lg:w-3/4 self-end">
                In 2015 we made Our entry into the renewable energy sector. After
                traveling through Colombia, exploring territories with incredible
                energetic resources, and analgzing strategic opportunities in the
                country with the potential of attracting European interest, we
                opened a new door to tend a bridge between the French
                Commission of Atomic and Alternative Energy (CEA-Liten)—one of
                the most important energy institutions in Europe—and a series Of
                key stakeholders in Colombia advancing remarkable renewable
                energu innovation projects in the country. This is how the Colombia
                is Energy initiative was born in partnership With <strong>RutaN</strong>, a leading
                Colombian innovation institution.
                <br>
                <br>
                Through a series Of strategic buginess missions led and organized
                bg ALO 6 Partners wherein Colombian companies visited CEA-Liten
                in France; and the participation of keg leaders of CEA-Líten in
                high-level interactions uvith companies, and national and local
                authorities in Colombia, critical relationships were created that led
                to the interest and incursion of CEA-Liten in Colombia. seeking to
                develop renewable energy initiatives and projects in the country.
              </p>
            </div>
          </div>
          <div class="lg:pt-[70px]">
            <div class="flex gap-12 relative lg:mt-72 flex-wrap-reverse mt-20 lg:flex-nowrap">
              <h1 class="absolute text-white lg:text-[250px] lg:-top-32 lg:right-36 font-bold top-32 text-8xl right-20">
                MOKA</h1>
              <p class="lg:pt-10 lg:z-10 lg:text-2xl text-lg lg:basis-[70%]">
                Thanks to our participation in some of the most important
                agriculture and food spaces and fairs in Colombia and in
                Europe, we noted that there was an underlging opportunitg
                that had never been discovered or elevated before: to
                strategicallg leverage the infinite wealth of biodiverse
                products in Colombia as raw material that could be
                transformed with cutting edge technologg and the Italian
                artisanal savoir faire of gelato. T his is how FONTE was born in
                2019: a space created bu ALO fr Partners in the framework of
                Expo Agrofuturo—one of the most important agricultural
                fairs in Latin America—to connect gelato raw material
                transformation technologg with the suppliers of Colombian
                fruit grown bg rural producers highlg committed to qualitg.
                Years later, with the desire to scale the original idea with
                which we developed FONTE, we created Moka: a space that
                happens in the framework of Expo Agrofuturo to connect
                knowledge, latest trands, innovation, and raw material
                transformation technologg of European companies with
                coffee and cacao—products in which Colombia is a global
                production leader. Moka is a space that consists of
                networking, talks, visits to coffee and cacao productíon
                farms, and other activities that build links and value-added
                exchanges between Colombian producers and global raw
                material transformation technology companies.
              </p>
              <div class="lg:basis-[30%] flex justify-end lg:block">
                <img src="../src/img/Caso1B_MOKA.jpg" class="w-1/2 lg:w-96">
              </div>
            </div>
          </div>
          <div class="pt-96 pb-20 hidden lg:block">
            <svg width="50" height="50" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg"
              id="enableScrollButton">
              <path
                d="M21.4014 23L32.0015 12.3999V10.6001L21.4014 0L19.7012 1.7998L27.0015 9.1001L28.3013 10L28.2012 10.5L26.5015 10.2998H0.701172V12.7998H26.5015L28.2012 12.6001L28.3013 13L27.0015 14L19.7012 21.2998L21.4014 23Z"
                fill="#262626" />
            </svg>

          </div>
        </div>
      </div>
      <div
        class="w-screen text-black md:flex md:px-6 md:pb-12 lg:pt-6 relative lg:after:content-normal lg:after:bg-black lg:after:w-[1px] lg:after:h-48 lg:after:top-[60%] lg:after:absolute lg:after:right-0 lg:after:ml-20 before:content-normal before:bg-black before:w-[1px] before:h-2/5 before:top-8 before:absolute before:left-5"
        id="targetDivA">
        <div
          class="w-full h-[400px] lg:h-[calc(100vh-6rem)] lg:w-[450px] relative md:w-1/2 text-white flex lg:flex-col justify-between flex-wrap-reverse pl-14">
          <p class="lg:text-4xl pt-[70px] text-5xl">WE MOBILIZE
            KNOWLEDGE
            AND RESOURCES</p>
          <h1 class="lg:text-[200px] pt-20 text-9xl">2</h1>
        </div>
        <div class="md:w-1/2 md:ps-6 lg:w-[50vw] lg:ml-20 flex flex-col justify-between">
          <img src="../src/img/Caso2.jpg" class="w-[36rem]">
          <div class="overflow-hidden text-sm pt-16 pl-5 lg:pl-0 w-[90vw] lg:w-full md:w-full md:pl-0">
            <p>We firmly believe that the needs and desires of the communities and territories
              where we work, must alvvaus be front and center. We are involved in projects that
              generate tangible impact and long-term benefits for societu and the environment.
              This is whg we strategicallg lead and manage the implementation of each project in
              whích we are involved from beginning to end. We do this in order to ensure that everg
              single element is implemented with detailed precision, and that we not onlg fulfill but
              go begond all of our commitments.
              <br>
              <br>
              Thanks to the professional network we have cultivated across Europe and Latin
              America for more than one decade since we entered the market, we consolidated a
              multi-disciplinarg group of allies with high levels of knowledge, expertise, credibilitg,
              and trajectorg—our partners. We also seek and manage funding, resources, and
              relevant technical assistance needed to accomplish all of the goals we set out in
              each project that we undertake, and to ensure that ang obstacle or barrier is
              addressed with precision and preparedness.
            </p>
          </div>
        </div>

      </div>
      <div class="w-screen text-black md:px-6 md:pb-12 lg:pt-6 relative paused">
        <div class="lg:h-[calc(100vh-6rem)] overflow-x-hidden flex lg:pl-14">
          <h1 class="text-5xl pb-10 lg:self-end lg:w-1/3 lg:pl-0 pl-5 pt-32 lg:pt-0">How have we
            achieved this?</h1>
        </div>
        <div class="flex flex-col bg-aloWhite lg:pr-48 mt-20 pl-5 lg:pl-0 pb-32 lg:pb-0">
          <div class="pt-[70px]">
            <h1 class="text-5xl lg:w-1/3 lg:pl-14">How have we
              achieved this?</h1>
            <br>
            <div class="flex lg:flex-row flex-col lg:gap-12 gap-14 relative lg:mt-72 mt-10 pr-5 lg:pr-0 lg:pl-32">
              <h1
                class="absolute text-white lg:text-8xl text-5xl lg:-top-[230px] top-28 lg:left-52 font-bold lg:w-1/2 w-2/3 uppercase">
                ITALY PRESENT AT EXPO
              </h1>
              <div class="lg:basis-[40%] flex justify-end lg:block pr-10 lg:pr-0">
                <img src="../src/img/Caso2A_Agrofuturo.jpg" class="w-1/2 lg:w-full">
              </div>
              <p class="z-10 lg:text-2xl text-lg lg:basis-[60%]">
                After witnessing firsthand the great opportunities that emerge
                when European companies Exchange with keg business
                opportunities in Colombia and Latin America, ALO 6 Partners led and
                strategicallg managed efforts to prospect, facilitate dialogue,
                coordinate work missions, and mobilize resources and networks to
                make <strong>Italy the invited country of honor at Expo Agrofuturo.</strong> No
                government or large compang hade ever created this opportunitg
                before, and ALO 6 Partners—who represented Italg at this important
                fair—brokered value-added connections for Italian companies
                seeking to open new markets in Latin America. T his important
                achievement was preceded bg the partnership that ALO fr Partners
                forged between MacFrut—one of the most important fruit and
                vegetable exhibitions in Italy and Europe—and Expo Agrofuturo.
              </p>
            </div>
          </div>
          <div class="lg:pt-[70px] pr-5 lg:pr-0 lg:pl-32">
            <div class="flex lg:flex-none flex-col-reverse gap-12 relative lg:mt-72 mt-32">
              <h1
                class="absolute text-white lg:text-[250px] text-8xl lg:-top-[160px] -top-10 lg:left-28 font-bold uppercase">
                ÁTTIMO</h1>
              <p class="z-10 lg:text-2xl lg:basis-[70%] text-lg">
                Leveraging our knowledge of the agricultural sector, and
                expertise in technologg and innovation as mediums for
                raw material transformation into high-value products we
                asked ourselves: Hovv is it possible that Colombia primarilg
                consumes industrial ice cream instead of taking
                advantage of the privilege of having access to
                high-qualitg locallg-produced ingredients to be
                transformed into gelato—an industrg that generates
                millions of euros in Italg and Europe?
                <br>
                <br>
                T his exploration led us to partner up with local actors,
                investors, and some of the most specialized companies in
                gelato technologg and processes in Italu, who united to
                create Áttimo, a Colombian compang that makes and sells
                Italian gelato in Colombia. Áttimo combines high-qualitg
                Colombian ingredients grown by local producers with the
                best gelato-making techniques in Italg, in a business
                model that is breaking ground in the Colombian market
                and elevating local products and ingredients through
                innovative methods and Italian artisanal knowhovv in raw
                material transformation.
              </p>
              <div class="lg:basis-[20%] flex lg:flex-none pl-5 lg:pl-0">
                <img src="../src/img/Caso2B_Attimo.jpg" class="w-1/2 lg:w-2/3">
              </div>
            </div>
          </div>
          <div class="pt-96 pb-20 hidden lg:block lg:pl-32">
            <svg width="50" height="50" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg"
              id="enableScrollButton2">
              <path
                d="M21.4014 23L32.0015 12.3999V10.6001L21.4014 0L19.7012 1.7998L27.0015 9.1001L28.3013 10L28.2012 10.5L26.5015 10.2998H0.701172V12.7998H26.5015L28.2012 12.6001L28.3013 13L27.0015 14L19.7012 21.2998L21.4014 23Z"
                fill="#262626" />
            </svg>

          </div>
        </div>
      </div>
      <div
        class="w-screen text-black md:px-6 md:pb-12 lg:pt-6 relative after:content-normal after:bg-black after:w-[1px] after:h-48 after:top-[60%] after:absolute after:right-0 after:ml-20 before:content-normal before:bg-black before:w-[1px] before:h-48 before:top-[60%] before:absolute before:right-0 before:ml-20"
        id="targetDiv2">
        <div class="lg:h-[calc(100vh-6rem)] overflow-x-hidden flex flex-wrap lg:flex-col lg:pl-14 lg:pt-10 pt-20">
          <h1 class="lg:text-5xl text-4xl lg:w-1/2 text-white pl-14 lg:pl-0">WE BOLSTER OUR INITIATIVES
            WITH NEXT GENERATION
            INNOVATION AND TECHNOLOGY</h1>
          <div class="flex flex-col lg:flex-row gap-14">
            <div class="flex gap-20">
              <h1 class="text-[200px] text-white pl-14 lg:pl-0">3</h1>
              <img src="../src/img/Caso3.jpg" class="w-44 mt-20">
            </div>
            <p class="lg:mt-20 lg:w-2/3 text-sm pl-5 lg:pl-0 w-[90vw]">We firmly believe that technologg is an
              accelerator and amplifier of impact.
              We are
              convinced that it is not only possible to leverage, but also to bolster solutions using
              highly advanced and innovative technological tools and developments—from using
              unused television waves to bring internet to remote rural communities, to artificial
              intelligence and Internet of Things for agriculture, to Blockchain as a traceabilitg tool
              in an agricultural production chain.
              <br>
              <br>
              We closely observe, deeply study, and comprehensively explore wags in which new
              technological developments can serve social, communitg, and environmental impact.
              We tend bridges and forge solid relationships with large companies, organizations,
              institutions, and startups who studg and develop innovative tools so that theg
              analgze the challenges we identifg and propose new waus in which their
              developments add value to bolster the initiatives and projects that we lead.
            </p>
          </div>
        </div>
      </div>
      <div class="w-screen text-black md:px-6 md:pb-12 lg:pt-6 relative overflow-y-auto">
        <div class="lg:h-[calc(100vh-6rem)] overflow-x-hidden flex lg:pl-14 pl-5 pt-20 lg:pt-0">
          <h1 class="text-5xl pb-10 lg:self-end lg:w-1/3">How have we
            achieved this?</h1>
        </div>
        <div class="flex flex-col bg-aloWhite lg:pr-48 mt-20 pl-5 lg:pl-0">
          <div class="pt-[70px]">
            <h1 class="text-5xl lg:pl-14 lg:w-1/3">How have we
              achieved this?</h1>
            <br>
            <div class="flex gap-12 flex-col lg:flex-row relative lg:mt-96 mt-5 lg:pl-32">
              <h1
                class="absolute uppercase text-white lg:text-9xl text-4xl lg:-top-[290px] top-56 lg:left-36 font-bold w-1/2">
                technological
                transformation of coffee
              </h1>
              <div class="lg:basis-[20%]">
                <img src="../src/img/Caso3A_Coffee5.jpg" class="w-1/2 lg:w-full">
              </div>
              <p class="z-10 lg:text-2xl text-lg lg:basis-[80%] pt-10">
                In some of our business missions, as we made our wag through several
                rural remote territories, we could see firsthand, mang of the
                challenges Of communities living far awag from urban areas: little to
                no attention from the government and no access to basic
                opportunities to education and health that are taken for granted in
                larger urban centers. This is how, in 2017, we arrived at a place that is
                not known for its coffee production activities and that suffered for
                mang gears, the negative consequences of the Colombian armed
                conflict: the Department of Meta in Colombia, where a verg special
                varietg of high-qualitg coffee can be found.
                <br>
                <br>
                In the coffee-producing municipalities of Mesetas, Lejanías and San
                Juan de Arama, led efforts to implement the Coffee 5.0 Technologg
                Transformation pilot, consolidating an Alliance between: Lavazza (one
                of the most important Coffee roasters in the world) who had been
                working in-territorg with Carcafé; Microsoft; xFarm, a European
                agritech startup; and Makaia, a Colombian nonprofit organization with
                longstanding trajectorg and leadership undertaking social projects in
                rural and remote territories.
                <br>
                <br>
                Alongside Microsoft, we brought internet connectivitg to the area,
                leveraging unused television waves known as Television White Spaces
                CTVWS). Generating access to internet in these municipalities had two
                keg goals: (i) to incorporate technologg to coffee growers' production
                processes and thus improve the qualitg of information and data
                available to inform better decision-making and converselg improve
                productivitu of crops; and (ii) to offer the communitg surrounding
                coffee farms access to internet to support children and gouth
                education, and Offer health services such as telemedicine and
                tele-diagnostics to individuals.
                <br>
                <br>
                Once internet was connected, xFarm installed sensors and specialized
                agricultural technological devices working with Internet of Things
                (IOT) technologg in 5 pilot coffee crops. These devices produce keg
                information for all stakeholders in the coffee value chain to make
                decisions and take opportune action to improve the productivitg,
                qualitg, and eventuallg earnings, of coffee for coffee growers.
              </p>
            </div>
          </div>
          <div class="lg:pt-[70px] pb-32 lg:pl-32">
            <div class="flex gap-12 flex-col-reverse lg:flex-row relative mt-72">
              <h1
                class="absolute text-white lg:-top-48 right-0 -top-32 font-bold uppercase lg:text-7xl text-4xl lg:w-[950px] w-80">
                digital
                <br>coffee-growing
                information ecosystem leveraging blockchain
              </h1>
              <p class="z-10 lg:text-2xl lg:basis-[65%] lg:pt-16 text-lg pr-5 lg:pr-0">
                Inspired by what we Saw technology can do for coffee in
                Colombia, in 2020 we started a new project in partnership
                with Lavazza (and their 1895 coffee brand), XFarm, and Bip
                (consulting firm specialized in innovation and technologg)
                to take Blockchain technologg to coffee-growing farms in
                Brazil. The purpose of this project was to develop a coffee
                blend that incorporated Blockchain to the most important
                steps of its production chain. Leveraging sensors and
                devices that measure key agricultural conditions, uve
                managed to incorporate highlg trustworthg and traceable
                data related to coffee production in two farms in Brazil so
                that keu actors in the value chain (including Lavazza as a
                roaster, bugers, baristas, and end-consumers) could have
                access to information on the origins, processes, resources
                utilized, safety standards, roasting, climate and ground
                conditions, ingredients, transportation, and handling Of
                each coffee grain in the blend.
                <br>
                <br>
                In a not so distant future, through Blockchain technoloqy
                roasters, consumers, and coffee lovers at large Will not onlg
                be able to create digital wallets with cruptocurrencg to
                support producers bu increasing their revenue—a fair and
                just reflection of the precious work that theg undertake
                alongside their coffee-growing communities—, recognizing
                their commitment to reach high production standards, and
                acknowledging their important role in sustainable social and
                environmental growth, but Will also be able to activelg
                participate in the dissemination of stories (using real,
                trustworthg, and immutable data) of the beautg of
                coffee-growing zones—an additional incentive for
                producers, roasters, and consumers to protect our planet
                and the communities that inhabit it.
                <br>
                <br>
                Thís promising initiative demonstrated that Blockchain
                technologg gives a voice to coffee producers and creates
                tangible value for the sustainabilitu and impact of their
                product, which is whg we scaled this initiative to Cuba with
                Lavazza and their Tierra! Cuba brand, building a digital
                information ecosgstem anchored in Blockchain technologg
                such as the one we created for Brazil—this time with 170+
                coffee-producing farms in four regions of Cuba.
              </p>
              <div class="lg:basis-[35%] flex justify-end lg:block pr-10 lg:pr-0">
                <img src="../src/img/Caso3B_Blockchain.jpg" class="w-1/2 lg:w-full">
              </div>
            </div>
          </div>
          <div class="pt-96 pb-20 hidden lg:block lg:pl-32">
            <svg width="50" height="50" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.4014 23L32.0015 12.3999V10.6001L21.4014 0L19.7012 1.7998L27.0015 9.1001L28.3013 10L28.2012 10.5L26.5015 10.2998H0.701172V12.7998H26.5015L28.2012 12.6001L28.3013 13L27.0015 14L19.7012 21.2998L21.4014 23Z"
                fill="#262626" />
            </svg>

          </div>
        </div>
      </div>
    </div>

    <div class="fixed flex items-center bottom-0 h-12 bg-aloGreen border-t border-aloGray z-40 w-screen">
      <div class="h-fit px-4">
        <svg width="63" height="20">
          <path
            d="M41.5145 10.4391C41.5145 6.74892 46.2111 3.81355 51.9979 3.81355C53.5076 3.81355 54.9333 3.98136 56.1913 4.31683C55.4365 2.97495 54.2624 1.80081 52.8366 0.962136C48.3916 -1.38615 42.6887 0.710513 40.0049 5.65869C37.405 10.6069 38.7469 16.5614 43.1919 18.9097C46.7143 20.8386 50.9916 19.9161 54.0108 16.9808C53.3398 17.0367 52.6689 17.0646 51.9979 17.0646C46.2111 17.0646 41.5145 14.1293 41.5145 10.4391Z"
            fill="#262626" />
          <path
            d="M62.3975 10.4392C62.3975 7.7554 59.8814 5.40717 56.1913 4.31689C57.7009 7.16839 57.7848 10.9424 56.0236 14.2132C55.4645 15.2755 54.7935 16.1981 54.0107 16.9809C58.7912 16.3938 62.3975 13.71 62.3975 10.4392Z"
            fill="#262626" />
          <path d="M25.0763 0.458496H22.728V19.9996H25.0763V0.458496Z" fill="#262626" />
          <path d="M25.0764 19.9999H38.2436V17.8193H28.1795C26.7538 17.8193 25.5796 18.658 25.0764 19.9999Z"
            fill="#262626" />
          <path
            d="M12.1608 0.458496H7.12873L0 19.9996H2.76766L9.39316 1.29717H9.89639L14.0059 13.0386H7.46422C6.20621 13.0386 5.03206 13.8773 4.52886 15.0514V15.1353H14.7607L16.438 19.9996H19.2895L12.1608 0.458496Z"
            fill="#262626" />
        </svg>
      </div>
      <ul class="flex">
        <li onclick="scrollHome()">We do</li>
      </ul>
    </div>
  </div>

  <script src="../src/js/animations.js"></script>


</body>

</html>